<div class="flex flex-row gap-[2px]">
  @if(parts==-1){
  <div class="w-full h-1 bg-slate-500"></div>
  <div class="w-full h-1 bg-slate-500"></div>
  <div class="w-full h-1 bg-slate-500"></div>
  } @else if (parts==3) {
  <div class="w-full h-1 bg-green-500"></div>
  <div class="w-full h-1 bg-green-500"></div>
  <div class="w-full h-1 bg-green-500"></div>
  } @else if (parts==2) {
  <div class="w-full h-1 bg-yellow-500"></div>
  <div class="w-full h-1 bg-yellow-500"></div>
  <div class="w-full h-1 bg-slate-500"></div>
  } @else if (parts==1) {
  <div class="w-full h-1 bg-red-500"></div>
  <div class="w-full h-1 bg-slate-500"></div>
  <div class="w-full h-1 bg-slate-500"></div>
  } @else {
  <div class="w-full h-1 bg-red-500"></div>
  <div class="w-full h-1 bg-red-500"></div>
  <div class="w-full h-1 bg-red-500"></div>
  }
</div>
<div>password:{{ password }}</div>
