<div class="bg-blue-200 rounded-md p-5 mt-5 flex flex-col gap-1">
  <p>Angular password strength</p>
  <input
    class="p-1"
    type="password"
    [value]="password"
    (input)="onUpdate($event)"
  />

  <div class="flex flex-row gap-[2px]">
    @if(password.length==0){
    <div class="h-1 w-full bg-slate-500"></div>
    <div class="h-1 w-full bg-slate-500"></div>
    <div class="h-1 w-full bg-slate-500"></div>
    } @else if (password.length<8) {
    <div class="h-1 w-full bg-red-500"></div>
    <div class="h-1 w-full bg-red-500"></div>
    <div class="h-1 w-full bg-red-500"></div>
    } @else if (parts==1) {
    <div class="h-1 w-full bg-red-500"></div>
    <div class="h-1 w-full bg-slate-500"></div>
    <div class="h-1 w-full bg-slate-500"></div>
    }@else if (parts==2) {
    <div class="h-1 w-full bg-yellow-500"></div>
    <div class="h-1 w-full bg-yellow-500"></div>
    <div class="h-1 w-full bg-slate-500"></div>
    } @else if (parts==3) {
    <div class="h-1 w-full bg-green-500"></div>
    <div class="h-1 w-full bg-green-500"></div>
    <div class="h-1 w-full bg-green-500"></div>
    } @else {
    <div class="h-1 w-full bg-red-500"></div>
    <div class="h-1 w-full bg-red-500"></div>
    <div class="h-1 w-full bg-red-500"></div>
    }
  </div>
  <div>password:{{ password }}</div>
</div>
